POSTGRES_DB=chatgpt2api
POSTGRES_USER=chatgpt2api
POSTGRES_PASSWORD=replace-with-a-long-random-password
CHATGPT2API_AUTH_KEY=replace-with-a-long-random-admin-key
CHATGPT2API_MONITOR_CLUSTER_SECRET=replace-with-a-long-random-cluster-secret
CHATGPT2API_DATA_DIR=./data
CHATGPT2API_CONFIG_FILE=./config.json
